# -----------------------------------------------------------------------------
# ENVIRONNEMENT (production / development)
# -----------------------------------------------------------------------------
ENVIRONMENT=production

# -----------------------------------------------------------------------------
# INFRASTRUCTURE URIs
# -----------------------------------------------------------------------------
# Note that we use container names since they are in the same network
DATABASE_URL=postgresql+asyncpg://gateway:REPLACE_ME_POSTGRES_PASSWORD@gateway-postgres:5432/gateway_db
CELERY_BROKER_URL=redis://:REPLACE_ME_REDIS_PASSWORD@gateway-redis:6379/0
REDIS_URL=redis://:REPLACE_ME_REDIS_PASSWORD@gateway-redis:6379/0

# -----------------------------------------------------------------------------
# HASHICORP VAULT
# -----------------------------------------------------------------------------
VAULT_ADDR=http://gateway-vault:8200
VAULT_TOKEN=REPLACE_ME_VAULT_TOKEN

# -----------------------------------------------------------------------------
# BANK ACQUIRER (ISO8583)
# -----------------------------------------------------------------------------
# For production, this should point to your real Acquirer's IP/hostname
BANK_HOST=REPLACE_ME_ACQUIRER_IP
BANK_PORT=REPLACE_ME_ACQUIRER_PORT
BANK_USE_TLS=true
BANK_TLS_INSECURE=false

# -----------------------------------------------------------------------------
# WEB3 (CRYPTO)
# -----------------------------------------------------------------------------
# Use Alchemy/Infura for prod
WEB3_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/REPLACE_ME
WEB3_RPC_URL_BACKUP=https://mainnet.infura.io/v3/REPLACE_ME
ERC20_TOKEN_ADDRESS=0xdAC17F958D2ee523a2206206994597C13D831ec7 # USDT
WEB3_CONFIRMATIONS=3

# -----------------------------------------------------------------------------
# GATEWAY SECURITY
# -----------------------------------------------------------------------------
GATEWAY_API_KEY=REPLACE_ME_API_KEY
CORS_ORIGINS=https://app.yourdomain.com
